I. Importing essential libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

II. Importing and understanding our dataset

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/vaishpanse/Project-Heart-Disease-Prediction-/main/heart.csv')

Shape of dataset

In [ ]:
dataset.shape

(303, 14)

In [ ]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Description

In [ ]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
info = ["age","1: male, 0: female","chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic","resting blood pressure"," serum cholestoral in mg/dl","fasting blood sugar > 120 mg/dl","resting electrocardiographic results (values 0,1,2)"," maximum heart rate achieved","exercise induced angina","oldpeak = ST depression induced by exercise relative to rest","the slope of the peak exercise ST segment","number of major vessels (0-3) colored by flourosopy","thal: 3 = normal; 6 = fixed defect; 7 = reversable defect"]



for i in range(len(info)):
    print(dataset.columns[i]+":\t\t\t"+info[i])

age:			age
sex:			1: male, 0: female
cp:			chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic
trestbps:			resting blood pressure
chol:			 serum cholestoral in mg/dl
fbs:			fasting blood sugar > 120 mg/dl
restecg:			resting electrocardiographic results (values 0,1,2)
thalach:			 maximum heart rate achieved
exang:			exercise induced angina
oldpeak:			oldpeak = ST depression induced by exercise relative to rest
slope:			the slope of the peak exercise ST segment
ca:			number of major vessels (0-3) colored by flourosopy
thal:			thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

Analysing the 'target' variable

In [ ]:
dataset["target"].describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: target, dtype: float64

In [ ]:
dataset["target"].unique()

array([1, 0])

Clearly, this is a classification problem, with the target variable having values '0' and '1'

In [ ]:
X = dataset.drop('target', axis =1)
Y = dataset['target']
print(X.head(), Y)

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal
0   0     1
1   0     2
2   0     2
3   0     2
4   0     2   0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

splitting dataset

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

LINEAR REGRESSION

In [ ]:
clf = LinearRegression()
clf.fit(x_train, y_train)
#predicting test data
predicted = clf.predict(x_test)
train_predict = clf.predict(x_train)

In [ ]:
clf.score(x_test, y_test)

0.4500355230405526

In [ ]:
print("The model performance for training dataset\n")
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_train, train_predict))
print("Mean Squared Error: ", metrics.mean_squared_error(y_train, train_predict))
print("R^2 Score: ", metrics.r2_score(y_train, train_predict))
print("Training Accuracy:",clf.score(x_train,y_train)*100)
print("\n*****************************************\n")
print("The model performance for testing dataset\n")
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, predicted))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test, predicted))
print("R^2 Score: ", metrics.r2_score(y_test, predicted))
print("Testing Accuracy:",clf.score(x_test, y_test)*100)

The model performance for training dataset

Mean Absolute Error:  0.2755986281412184
Mean Squared Error:  0.11690175669857991
R^2 Score:  0.5269323881083725
Training Accuracy: 52.69323881083725

*****************************************

The model performance for testing dataset

Mean Absolute Error:  0.2976268625035471
Mean Squared Error:  0.13745416919437944
R^2 Score:  0.4500355230405526
Testing Accuracy: 45.00355230405526

KNN

In [ ]:
from numba import jit
import matplotlib.pyplot as pyplot
from sklearn.datasets import make_regression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [ ]:
error = []
# Calculating error for K values between 1 and 30
for i in range(1, 30):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    pred_i = knn.predict(x_test)
    error.append(np.mean(pred_i != y_test))

print("Minimum error:-",min(error),"at K =",error.index(min(error))+1)

Minimum error:- 0.2786885245901639 at K = 19

In [ ]:
classifier= KNeighborsClassifier(n_neighbors=7)
classifier.fit(x_train, y_train)
y_prediction= classifier.predict(x_test)

In [ ]:
#accuracy on testing data
accuracy = accuracy_score(y_test, y_prediction)
print(accuracy)

0.639344262295082

LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
#accuracy on training data
X_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(X_train_prediction,y_train)
print("The model performance for training dataset\n")
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_train, X_train_prediction))
print("Mean Squared Error: ", metrics.mean_squared_error(y_train, X_train_prediction))
print("R^2 Score: ", metrics.r2_score(y_train, X_train_prediction))
print('Accuracy on Training Data', training_data_accuracy)
print('\n*********************************\n')
#accuracy on testing data
X_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(X_test_prediction,y_test)
print("The model performance for testing dataset\n")
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, X_test_prediction))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test, X_test_prediction))
print("R^2 Score: ", metrics.r2_score(y_test, X_test_prediction))
print('Accuracy on Testing Data', testing_data_accuracy)

The model performance for training dataset

Mean Absolute Error:  0.14049586776859505
Mean Squared Error:  0.14049586776859505
R^2 Score:  0.4314538419016032
Accuracy on Training Data 0.859504132231405

*********************************

The model performance for testing dataset

Mean Absolute Error:  0.18032786885245902
Mean Squared Error:  0.18032786885245902
R^2 Score:  0.2784946236559138
Accuracy on Testing Data 0.819672131147541

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
#accuracy on training data
rf.score(x_train,y_train)

1.0

In [ ]:
#accuracy on testing data
from sklearn.metrics import confusion_matrix

prediction_rf = rf.predict(x_test)
conf_matrics = confusion_matrix(y_test,prediction_rf)

tn = conf_matrics[0][0]
tp = conf_matrics[1][1]
fn = conf_matrics[1][0]
fp = conf_matrics[0][1]

print(conf_matrics)
print('Model test accuracy:{}'.format((tp+tn)/(tp+tn+fn+fp)))

[[21  9]
 [ 4 27]]
Model test accuracy:0.7868852459016393

Predictive System

In [ ]:
input_data = (56,1,1,120,236,0,1,178,0,0.8,2,0,2)
#change the input data to a numpy array
input_data_np =np.asarray(input_data)
#reshape the numpy array as we are predicting for only on instance
input_data_reshape = input_data_np.reshape(1,-1)
prediction = model.predict(input_data_reshape)
print(prediction)

if(prediction[0]==0):
  print('The person does not have a Heart Disease')
else:
  print('The person has Heart Disease')

[1]
The person has Heart Disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"